@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animatedScroll {
  transform: translateY(0);
  transition: transform 0.2s linear;
}

.animatedScroll:hover {
  transform: translateY(-32px);
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleOut {
  0% {
    opacity: 0;
    scale: 0.7;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

header {
  animation: 1s ease-out slideFromTop;
}

.short-desc {
  animation: 1s ease-out slideFromBottom;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.my-projects {
  animation: 1s ease-out slideFromBottom;
}

.projects-grid article {
  animation: 1s ease-out scaleOut;
}

.project-featuers {
  animation: 1s ease-out 0.5s backwards slideFromBottom;
}
